<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>clientModelServiceImpl</servlet-name>
    <servlet-class>edu.gac.polisci.server.clientModelServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>clientModelServiceImpl</servlet-name>
    <url-pattern>/thesisdb/clientmodelservice</url-pattern>
  </servlet-mapping>
  
  <servlet>
<servlet-name>LoginService</servlet-name>
<servlet-class>edu.gac.polisci.server.LoginService</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>LoginService</servlet-name>
<url-pattern>/thesisDB/loginservice</url-pattern>
</servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>ThesisDB.html</welcome-file>
  </welcome-file-list>

</web-app>
